.additional__list {
  .list();
}

.additional__wrapper {
  .wrapper();

  @media (min-width: @tablets) {
    padding-top: 35px;
  }
}


.additional__item {
  border-top: solid 1px #ededed;
  margin-bottom: 13px;

  @media (min-width: @tablets) {
    border: solid 1px #ededed;
    padding: 25px 38px;
    margin-bottom: 0;
  }
}

.additional__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 33px;
  background: #ffffff;
  width: 250px;
  padding-right: 24px;

  @media (min-width: @tablets) {
    font-size: 36px;
    line-height: 36px;
    width: 410px;
    padding-left: 40px;
    margin-bottom: 80px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #68b738;
    width: 100vw;
    z-index: -1;
    height: 3px;
    left: 0;
    transform: translateY(14px);

    @media (min-width: @tablets) {
      transform: translateY(22px);
    }
  }

  @media (min-width: @tablets) {
    &::before {
      content: "";
      position: absolute;
      background-color: #68b738;
      width: 100vw;
      z-index: -1;
      height: 3px;
      right: 0;
      transform: translateY(14px);

      @media (min-width: @tablets) {
        transform: translateY(22px);
      }
    }
  }
}

.additional__name {
  font-size: 16px;
  line-height: 16px;
  margin: 14px 0 12px;

  @media (min-width: @tablets) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.additional__contents {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  margin-bottom: 15px;
}

.additional__row {
  display: flex;
  justify-content: space-between;
}

.additional__item-inner {
  @media (min-width: @tablets) {
    display: flex;
    justify-content: space-between;
  }
}

.banner {
  border-top: solid 1px #ededed;
  padding-top: 39px;
  padding-bottom: 35px;
}

.banner__inner svg {
  fill: #ffffff;
  margin-top: 65px;
}

.banner__inner {
  width: 100%;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.banner__desc {
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  width: 161px;
  margin: 0 auto;
  padding-top: 56px;
}

.additional__cell {
  //flex-basis: 50%;
}
