.address {
  background-color: #f2f2f2;
  padding: 13px 0;
}

.address__inner {
  .wrapper();
  display: flex;
  flex: 1 0 50%;

}

.address__invitation {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  flex: 1 0 50%;
}

.address__details {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
