.address {
  background-color: #f3f4f8;
}

.address__inner {
  .wrapper();
  display: flex;
  flex: 1 0 50%;
}

.address__invitation {
  text-transform: uppercase;
  flex: 1 0 50%;
}

.address__details {
  font-family: "ArialMT", sans-serif;
}
