.advantages__wrapper {
  .wrapper();
}

.advantages__list {
  .list();

  @media (min-width: @tablets) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktops) {
    flex-wrap: nowrap;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 16px;

  @media (min-width: @tablets) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 70px;
  }
}

.advantages__desc {
  font-size: 14px;
  line-height: 18px;
  margin: 13px 0;

  @media (min-width: @tablets) {
    font-size: 16px;
    line-height: 24px;
    max-width: 245px;
    margin-top: 33px;
  }
}

.advantages__desc br {
  @media (max-width: @mobiles-max) {
    display: none;
  }
}

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 20px;

    @media (min-width: @tablets) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @tablets) {
    flex-basis: 50%;
    min-height: 230px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 86px;

    &::after {
      left: 116px;
      top: 88px;
    }

    &:nth-child(even) {
      padding-left: 32px;

      &::after {
        left: 140px;
        top: 88px;
      }
    }
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }

  @media (min-width: @tablets) {

    &::after {
      content: "1";
      position: absolute;
      display: block;
      height: 228px;
      width: 71px;
      font-size: 281px;
      color: #f2f2f2;
      z-index: -1;
        }
      }
    }

  &--powder {
    &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  @media (min-width: @tablets) {

    &::after {
      content: "2";
      position: absolute;
      display: block;
      height: 228px;
      width: 71px;
      font-size: 281px;
      color: #f2f2f2;
      z-index: -1;
      }
    }
  }

  &--dining {
    &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  @media (min-width: @tablets) {

    &::after {
      content: "3";
      position: absolute;
      display: block;
      height: 228px;
      width: 71px;
      font-size: 281px;
      color: #f2f2f2;
      z-index: -1;
      }
    }
  }

  &--clock {
    &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: @tablets) {

    &::after {
      content: "4";
      position: absolute;
      display: block;
      height: 228px;
      width: 71px;
      font-size: 281px;
      color: #f2f2f2;
      z-index: -1;
      }
    }
  }
}

.advantages__desc {
  font-family: "Arial", sans-serif;
}
