.catalog__inner {
  .wrapper();
}

.catalog__list {
  .list();
  display: flex;
  flex-direction: column;
  margin: 0 -30px;

  @media (min-width: @tablets) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media (min-width: @desktops) {
    margin: 0 -40px;
  }
}

.catalog__item {
  //  flex: 1 0 320px; если нужна фикс ширина карточки то 1 меняешь на 0, сейчас они тянутся, но не сжимаются меньше 320px
  padding: 0 30px 24px;
  //  min-height: 209px;
  border-top: solid 1px #ededed;

  @media (min-width: @tablets) {
    border-top: none;
    margin-left: 0;
    flex: 1 0 324px;
    padding: 140px 30px 0;
  }

  @media (min-width: @desktops) {
    padding: 140px 40px 0;
    flex: 1 0 245px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;

  @media (min-width: @tablets) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 38px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktops) {
    margin-top: 52px;
  }
}

/*.catalog {
  padding-top: 15px;

  @media (min-width: @tablets) {
    padding-top: 54px;
  }

  @media (min-width: @desktops) {
    padding-top: 70px;
  }
}

.catalog__inner {
  .wrapper();
}

.catalog__title {
  @include mainTitle;
  margin-bottom: 28px;

  @media (min-width: @tablets) {
    margin-bottom: 80px;
  }
}

.catalog__list {
  .list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -20px;

  @media (max-width: @tablets - 0.1px) {
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: @tablets) {
    margin: 0 -30px;
    padding-top: 55px;
  }

  @media (min-width: @desktops) {
    margin: 0 -40px;
    padding-top: 45px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;

  @media (max-width: @tablets - 0.1px) {
    border-bottom: 1px solid #e6e6e6;
    min-height: 209px;
    padding: 20px;
    flex: 1 0 300px;
  }

  @media (min-width: 400px) and (max-width: 599px) {
    flex: 1 0 200px;
  }

  @media(min-width: @tablets) {
    flex: 1 0 320px;
    min-height: 491px;
    padding: 30px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktops) {
    width: 325px;
    min-height: 512px;
    padding: 40px;
    margin-bottom: 63px;
  }
}*/
