.catalog__inner {
  .wrapper();
}

.catalog__list {
  .list();
  display: flex;
  flex-direction: column;
  margin: 0 -30px;

  @media (min-width: @tablets) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media (min-width: @desktops) {
    margin: 0 -40px;
  }
}

.catalog__item {
  //  flex: 1 0 320px; если нужна фикс ширина карточки то 1 меняешь на 0, сейчас они тянутся, но не сжимаются меньше 320px
  padding: 0 30px 24px;
  //  min-height: 209px;
  border-top: solid 1px #ededed;

  @media (min-width: @tablets) {
    border-top: none;
    margin-left: 0;
    flex: 1 0 324px;
    padding: 140px 30px 0;
  }

  @media (min-width: @desktops) {
    padding: 0 40px;
    flex: 1 0 25%;
  }
}
/*
.catalog__item {
  @media (min-width: @tablets) {
    max-width: 324px;*
    background-color: #f2f2f2;

    &:nth-child(odd) {
      margin-right: 60px;
    }
  }

  @media (min-width: @desktops) {
    max-width: 245px;
    margin-right: 80px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
*/
.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;

  @media (min-width: @tablets) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 38px;
    margin-bottom: 25px;
  }
}
