.catalog__inner {
  .wrapper();
  width: 100%;
}

.catalog__list {
  .list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -30px;
  padding: 0;
  align-items: baseline;

  @media (min-width: @desktops) {
    margin: 0 -40px;
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 320px; // если нужна фикс ширина карточки то 1 меняешь на 0, сейчас они тянутся, но не сжимаются меньше 320px
  min-height: 209px;
  padding: 0 30px;
  border-top: solid 1px #ededed;

  @media (min-width: @tablets) {
    border-top: none;
  }

  @media (min-width: @desktops) {
    padding: 0 40px;
    flex-basis: 245px;
  }
}
/*
.catalog__item {
  @media (min-width: @tablets) {
    max-width: 324px;*
    background-color: #f2f2f2;

    &:nth-child(odd) {
      margin-right: 60px;
    }
  }

  @media (min-width: @desktops) {
    max-width: 245px;
    margin-right: 80px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
*/
.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;
}
