.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //padding: 15px 0;
  padding: 13px 0;
}

.copyright__title {
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.copyright__link {
  transform: translateX(6px);
}
