.example {
  .wrapper();
}

.example__wrapper {
  background: #f2f2f2;
}

.example__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
}

.example__desc {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__data-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.example__data {
  text-align: center;
  border-radius: 3px;
  border: solid 1px #cdcdcd;
  width: 124px;
  min-height: 56px;
}

.example__numbers {
  font-size: 24px;
  line-height: 24px;
  margin: 17px 0;
}

.example__details {
  font-family: "Arial", sans-serif;
  width: 54px;
  font-size: 12px;
  line-height: 12px;
  margin: 0 auto;
  transform: translateY(10px);
  z-index: 1;
  background: #f2f2f2;
}

.example__progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
