.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablets) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.page-header__wrapper {
  .wrapper();
  position: relative;
}

.page-header__logo {
  width: 191px;

  @media (min-width: @tablets) {
    width: 174px;
  }

  @media (min-width: @desktops) {
    width: 203px;
  }
}
