.programs__inner {
  .wrapper();
}

.programs__list {
  .list();
}

.programs__item {
  max-width: 100%;
  min-height: 266px;
  position: relative;
  background: #f2f2f2;
  z-index: -2px;
  padding: 19px 20px;
  margin-top: 20px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: #111111;
  display: inline-block;
  text-transform: uppercase;
  margin: 10px 0 10px 70px;
}

.programs__about {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  padding: 20px 0 22px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px
}

.programs__img {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 50px;
  height: 51px;
  border-radius: 50%;
  padding-left: 9px;
  margin-right: 15px;
  margin-left: 3px;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.programs__svg {
  &--gain {
    transform: translate(-27%, 50%);
  }
}
